/* ==========================================================================
   Fonts
   ========================================================================== */

@font-face {
	font-family: 'Fira Sans';
	font-style: normal;
	font-weight: 400;
	src:
		local('Fira Sans Regular'),
		local('FiraSans-Regular'),
		url('https://securitypuppy.com/assets/fonts/Fira_Sans_400.woff2') format('woff2'),
		url('https://securitypuppy.com/assets/fonts/Fira_Sans_400.woff') format('woff'),
		url('https://securitypuppy.com/assets/fonts/Fira_Sans_400.eot?#iefix') format('embedded-opentype'),
		url('https://securitypuppy.com/assets/fonts/Fira_Sans_400.svg#FiraSans') format('svg'),
		url('https://securitypuppy.com/assets/fonts/Fira_Sans_400.ttf') format('truetype');
}
@font-face {
	font-family: 'Fira Sans';
	font-style: italic;
	font-weight: 400;
	src:
		local('Fira Sans Italic'),
		local('FiraSans-Italic'),
		url('https://securitypuppy.com/assets/fonts/Fira_Sans_400i.woff2') format('woff2'),
		url('https://securitypuppy.com/assets/fonts/Fira_Sans_400i.woff') format('woff'),
		url('https://securitypuppy.com/assets/fonts/Fira_Sans_400i.eot?#iefix') format('embedded-opentype'),
		url('https://securitypuppy.com/assets/fonts/Fira_Sans_400i.svg#FiraSans') format('svg'),
		url('https://securitypuppy.com/assets/fonts/Fira_Sans_400i.ttf') format('truetype');
}
@font-face {
	font-family: 'Fira Sans';
	font-style: normal;
	font-weight: 600;
	src:
		local('Fira Sans SemiBold'),
		local('FiraSans-SemiBold'),
		url('https://securitypuppy.com/assets/fonts/Fira_Sans_600.woff2') format('woff2'),
		url('https://securitypuppy.com/assets/fonts/Fira_Sans_600.woff') format('woff'),
		url('https://securitypuppy.com/assets/fonts/Fira_Sans_600.eot?#iefix') format('embedded-opentype'),
		url('https://securitypuppy.com/assets/fonts/Fira_Sans_600.svg#FiraSans') format('svg'),
		url('https://securitypuppy.com/assets/fonts/Fira_Sans_600.ttf') format('truetype');
}
@font-face {
	font-family: 'Fira Sans';
	font-style: italic;
	font-weight: 600;
	src:
		local('Fira Sans SemiBold Italic'),
		local('FiraSans-SemiBoldItalic'),
		url('https://securitypuppy.com/assets/fonts/Fira_Sans_600i.woff2') format('woff2'),
		url('https://securitypuppy.com/assets/fonts/Fira_Sans_600i.woff') format('woff'),
		url('https://securitypuppy.com/assets/fonts/Fira_Sans_600i.eot?#iefix') format('embedded-opentype'),
		url('https://securitypuppy.com/assets/fonts/Fira_Sans_600i.svg#FiraSans') format('svg'),
		url('https://securitypuppy.com/assets/fonts/Fira_Sans_600i.ttf') format('truetype');
}
